<!DOCTYPE html>
<html>
    <head>
        <title>미세먼지 및 날씨 확인</title>
        <link rel="stylesheet" href="/dist/css/main.css">
    </head>
    
    <body id="weather" class="fb">
        <section class="fb__weather">
            <h2 class="fb__title">미세먼지 및 날씨 확인</h2>
            
        </section>
        <div id="map" style="width:500px;height:400px;"></div>
        <div class="hAddr">
            <span id="centerAddr"></span>
        </div>

        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=9ec652bd0d4224b306e150a002233b10&libraries=services,clusterer,drawing""></script>
        <script src="/dist/js/main.js"></script>
    </body>
</html> 



